$primary-color :#27224a;
$secondary-color :#8b6ee6;
$third-color :#4c486a;
$text-special:#dff16d;

$font-size:16px;
$font-family: "Arial",
sans-serif;
$secondary-font-family: "Inter",
sans-serif;

$special2-font-family: 'Value Sans Pro',
sans-serif;

$anchor-color:#1e1942;

$heading-size: 52px;
$heading-weight: 700;
$font-weight:500;

$border-radius-base: 2px;
$border-all: 1px solid #27224a;