.button{
    @extend %button-properties;
    color: $primary-color;
    transition: .3s;
}

%button-properties {
    padding: 16px 24px;
    font-size: 17px; 
    border-radius: $border-radius-base;
    @include breakPoint(1280px){
        padding: 14px 20px;
        font-size: 16px; 
    };
    @include breakPoint(1169px){
        padding: 12px 18px;
        font-size: 15px; 
    };
    @include breakPoint(1145px){
        padding: 10px 16px;
        font-size: 14px; 
    };
    @include breakPoint(1120px){
        padding: 8px 13px;
        font-size: 13px; 
    };
    @include breakPoint(1115px){
        display: none
    };


}

.button-bold{
    @extend %button-properties;
    font-weight: 500;
    border: $border-all;
}

.button-outline{
    border: $border-all;
    color: $primary-color;
    &:hover{
        color: $primary-color;
        background-color: rgb(231, 231, 231);
    }

}
.button-dark{
    background-color: $primary-color;
    color: white;
    &:hover{
        opacity: 80%;
        color: white;
    }
}
.button-borderless{
    &:hover{
        color: $secondary-color;

    }
}