* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.button {
  color: #27224a;
  transition: .3s; }

.button, .button-bold {
  padding: 16px 24px;
  font-size: 17px;
  border-radius: 2px; }
  @media only screen and (max-width: 1280px) {
    .button, .button-bold {
      padding: 14px 20px;
      font-size: 16px; } }
  @media only screen and (max-width: 1169px) {
    .button, .button-bold {
      padding: 12px 18px;
      font-size: 15px; } }
  @media only screen and (max-width: 1145px) {
    .button, .button-bold {
      padding: 10px 16px;
      font-size: 14px; } }
  @media only screen and (max-width: 1120px) {
    .button, .button-bold {
      padding: 8px 13px;
      font-size: 13px; } }
  @media only screen and (max-width: 1115px) {
    .button, .button-bold {
      display: none; } }

.button-bold {
  font-weight: 500;
  border: 1px solid #27224a; }

.button-outline {
  border: 1px solid #27224a;
  color: #27224a; }
  .button-outline:hover {
    color: #27224a;
    background-color: #e7e7e7; }

.button-dark {
  background-color: #27224a;
  color: white; }
  .button-dark:hover {
    opacity: 80%;
    color: white; }

.button-borderless:hover {
  color: #8b6ee6; }

body {
  font-family: "Inter", sans-serif; }

a {
  text-decoration: none; }

header {
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 50px 45px;
  background-color: white;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1115px) {
    header .logo img {
      width: 120px; } }
  header nav {
    width: 600px; }
    header nav ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0; }
      @media only screen and (max-width: 1115px) {
        header nav ul {
          display: none; } }
      header nav ul li a {
        font-weight: 500;
        color: #1e1942; }
        header nav ul li a:hover {
          color: #8b6ee6; }
        header nav ul li a i {
          font-size: 9px; }
  header .buttons {
    margin-left: auto; }
  header .burger {
    display: none;
    font-size: 25px;
    color: #27224a; }
    @media only screen and (max-width: 1115px) {
      header .burger {
        display: block; } }

main .getpanther {
  height: 100vh;
  background-color: #38355a;
  background-image: radial-gradient(at 100% 0%, #252334 0px, transparent 50%), radial-gradient(at 0% 100%, #474365 0px, transparent 50%);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly; }
  main .getpanther .getpanther-desc {
    width: 40%; }
    main .getpanther .getpanther-desc h1 {
      color: white; }
    main .getpanther .getpanther-desc p {
      color: white; }
  main .getpanther .getpanther-img img {
    height: 500px; }
