body {
    font-family: $secondary-font-family;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    padding: 50px 45px;
    background-color: white;

    display: flex;
    align-items: center;

    .logo {
        img {
            @include breakPoint(1115px) {
                width: 120px;
            }

            ;
        }

    }

    nav {
        width: 600px;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            @include breakPoint(1115px) {
                display: none
            }

            ;

            li {
                a {
                    font-weight: $font-weight;
                    color: $anchor-color;

                    &:hover {
                        color: $secondary-color;
                    }

                    i {
                        font-size: 9px;
                    }
                }

            }
        }
    }

    .buttons {
        margin-left: auto;
    }

    .burger {
        display: none;
        font-size: 25px;
        color: $primary-color;

        @include breakPoint(1115px) {
            display: block;


        }

        i {}
    }
}

main {
    .getpanther {
        height: 130vh;
        background-color: hsla(245, 26%, 28%, 1);
        background-image:
            radial-gradient(at 100% 0%, hsla(247, 19%, 17%, 1) 0px, transparent 50%),
            radial-gradient(at 0% 100%, hsla(246, 20%, 33%, 1) 0px, transparent 50%);
        padding: 0px 45px;
        display: flex;
        align-items: stretch;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 170px;

        @include breakPoint(1115px) {
            padding-top: 0px;
            justify-content: start;


        }

        .getpanther-desc {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-content: center;

            @include breakPoint(1115px) {
                width: 100%;
                align-items: center;
                align-content: flex-start;


            }

            h1 {
                color: white;
                font-size: 76px;
                font-family: 'Value Sans Pro', sans-serif;

                @include breakPoint(1115px) {
                    font-size: 40px;
                    margin-top: 50px;

                }

                span {
                    color: $text-special;
                }
            }

            .img-responsive {
                display: none;

                @include breakPoint(1115px) {
                    display: block;
                    width: 70%;

                }
            }

            p {
                color: white;
                font-size: 20px;
            }

            .buttons-getpanther {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 330px;

                .schedule {
                    background-color: $secondary-color;
                    color: white;
                }

                .signup-now {
                    color: white;
                    font-weight: 500;
                    font-size: 18px;
                }
            }



        }

        .getpanther-img {
            img {
                height: 450px;

            }

            @include breakPoint(1115px) {
                display: none;

            }
        }
    }
    .customer-absolute{
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(244, 243, 246);
        position: absolute;
        z-index: 1;
        width: 65%;
        padding: 60px;
        border-radius: $border-radius-base*6;

        .seperator-vertical{
            background-color: black;
            width: 5px;
            height: 60%;
            transform: rotate(90deg);
        }


    }
}